<html>
<head>
  <meta charset="utf-8">
  <script type="text/javascript" async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://cdn.segment.com/analytics.js/v1/GrSwpfrLTDzgwXe2XU2xbWHviTyYPTf0/analytics.min.js"></script><script src="https://cdn.jsdelivr.net/jquery/3.0.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://assets.zendesk.com/apps/sdk/2.0/zaf_sdk.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/handlebars@4.3.3/dist/handlebars.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <script src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
  <script src="main.js"></script>
</head>
<body>
  <div id="content"></div>


  <script id="api_key-hdbs" type="text/x-handlebars-template">
    <div class="container" >
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default panel-wizard">
            <div class="panel-body">
              <div class="row wizard-title">
                <div class="col-xs-12">
                  <h4 class="wizard-step-name pull-left">API Key</h4>
                  <h5 class="wizard-step pull-right">
                    Step 1 of 4
                  </h5>
                </div>
              </div>
              <div class="progress wizard-progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="min-width: 3em; width: 20%;" aria-valuenow="20">
                </div>
              </div>
              <div>
                <p>Please provide your Bytesview API Key</p>
                <div class="form-group token">
                  <input id="api_key" type="text"  class="form-control" placeholder="Insert Key Here">
                </div>
                <p><strong>New to Bytesview?</strong></p>
                <p>Sign up<a href="https://www.bytesview.com/schedule-a-demo" target="_blank"> here. </a></p>
                <div class="row margin-top-30">
                  <div class="col-xs-3"></div>
                  <div class="col-xs-4">
                    <button id="check-api_key" type="button" class="btn btn-primary pull-right">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>


  <script id="oauth_page-hdbs" type="text/x-handlebars-template">
    <div class="container" >
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default panel-wizard">
            <div class="panel-body">
              <div class="row wizard-title">
                <div class="col-xs-12">
                  <h4 class="wizard-step-name pull-left" >Authorize Bytesview</h4>
                  <h5 class="wizard-step pull-right">
                    Step 2 of 4
                  </h5>
                </div>
              </div>
              <div class="progress wizard-progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="min-width: 3em; width: 40%;" aria-valuenow="40">
                </div>
              </div>
              <div>
                <p>Please grant permissions to authenticate all our application's API requests to Zendesk</p>
                <div class="row margin-top-30">
                  <div class="col-xs-3"></div>
                  <div class="col-xs-4">
                    <a id="check-token" target="_blank" role="button" href='https://{{user_name}}.zendesk.com/oauth/authorizations/new?response_type=code&redirect_uri={{redirect_uri}}&client_id={{client_id}}&scope=write%20read&state={{state}}' class="btn btn-primary pull-right">Submit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>


  <script id="field_model-hdbs" type="text/x-handlebars-template">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default panel-wizard">
            <div class="panel-body">
              <div class="row wizard-title">
                <div class="col-xs-12">
                  <h4 class="wizard-step-name pull-left">Choose the Custom Ticket Fields</h4>
                  <h5 class="wizard-step pull-right">
                    Step 3 of 4
                  </h5>
                </div>
              </div>
              <div class="progress wizard-progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="min-width: 3em; width: 80%;" aria-valuenow="80">
                </div>
              </div>
              <div>
            <div class="row">
              <div class="col-xs-6 combination-column-label"><h5>
                Bytesview Model
              </h5></div>
              <div class="col-xs-6 combination-column-label"><h5>
                Ticket Field
              </h5></div>
            </div>
            <div id="rowField">
            </div>
            </div>
            <div class="row">
              <div class="col-xs-12 plus-icon" id=glyphicon_button>
                <span class="glyphicon glyphicon-plus" aria-hidden="true" role="button" data-toggle="tooltip" data-placement="right" title="Add another automation field"></span>
              </div>
            </div>
                <div class="row margin-top-30">
                  <div class="col-xs-3"></div>
                  <div class="col-xs-4">
                    <button id="check-run" type="button" class="btn btn-primary pull-right">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>


  <script id="final_window-hdbs" type="text/x-handlebars-template">
    <div class="container" >
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default panel-wizard">
            <div class="panel-body">
              <div class="row wizard-title">
                <div class="col-xs-12">
                  <h4 class="wizard-step-name pull-left" >Ticket Tagging Activation</h4>
                </div>
              </div>
              <div class="progress wizard-progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="min-width: 3em; width: 100%;" aria-valuenow="100">
                </div>
              </div>
              <div>
                <p>If Activated all newly created tickets will be processed by Bytesview.</p>
                <div class="alert alert-active alert-success" role="alert">
                    <div class="row">
                      <div id = "ticketStatus" class="col-xs-8">
                        
                      </div>
                      <div class="col-xs-4">
                        <div class="switch">
                          <div class="onoffswitch pull-right">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onOff">
                            <label class="onoffswitch-label" for="onOff">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="row margin-top-30">
                  <div class="col-xs-3" id=previous_page>
                    <span class="previous">
                      <span class="glyphicon glyphicon-arrow-left" role="button" ></span><span class="previous-text" role="button" >Previous</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>


</body>
</html>